@font-face {
    font-family: "font1.otf";
    src: url(./resources/fonts/font1.otf);
    
}
@font-face{
    font-family: "font2.otf";
    src: url(./resources/fonts/font2.otf);
}
@font-face {
    font-family: "font3.otf";
    src: url(./resources/fonts/font3.otf);
}

.cont1 {
    display: flex;
    justify-content: flex-start;
               
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
       
}
.first {
    display: flex;
     align-items: center; 
     flex-direction: column; 
     align-content: center;
     justify-content: space-around;
     background-color: #222222;
     width: 319px;
     height: 100vh;
     position:fixed ;
     font-family: "font1.otf"; color: #FFFFFF; font-size: 16;
      }
.fixed {
     width: 319px;
     height: 100vh;
      }
.burger {
    display: flex; justify-content: space-between; margin-left: 30px; width: 259px;
}
.home {
    display: flex; height: 278px; width: 259px; justify-content: space-between; flex-direction: column;
     margin-left: 60px;
}
.textdesign {
    font-family: "font2.otf" ;font-size: 24;
}
.textdesigntoday {
    display: flex;
}
ul {
    display: flex; 
}

.vvv {
     display: flex;
     align-items: center;
    justify-content: flex-start;
    }   
.pirveli { 
     display: flex;
     justify-content: space-between;
     margin-top: 30px; 
     justify-content: flex-end;
     margin-right: 91px; 
     margin-left: 20px;
    }
.headerright {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 413px;
}

}
.serchform {
    height: 30px; width: 344 px;
    
}
.header3 {
    display: flex;
     justify-content: space-around;
     flex-grow: 2;
     font-family: "font1.otf"; font-size: 16;

}
    
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 182px;
    margin-top: 71px;
    width: 1231px; height: 56px;
    
}
.main1 {
    display: flex;
    flex-direction: column;
    align-content: center ;
    width: 1500px;
    margin-top: 40px; margin-left: 182px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: 5;
    }
    .mains {
        display: flex;
        flex-direction: column;
        font-family: "font1.otf"; color: #222222; font-size: 18;
        ;
    }
 .load {
        display: flex;
        margin-left: 758px; margin-top: 86px;
    }
.five {
        display: flex;
    }
 .text {
        font-family: "font2.otf"; color: #FFFFFF; font-size: 24;
        align-self: inherit;
    }
   
.mas {
        position: absolute;
    }
.mas1 { position: relative; top: 0; left: 2;
    

    }
.call {
    position: absolute;

}
.call1 {
    position: relative; 
    top: 0; 
    
}
.upload {
        display: flex;align-items: center; justify-content: center;
        height: 56px;
        width: 129px;
        border-radius: 12%;
        background-color: #FF2288; color: #FFFFFF; font-family: "font1.otf"; font-size: 14;
    }
    .gopro { 
        color: #FF2288; font-size: 14; font-family: "font3.otf";
    }
    .box1 {
        display: flex;
        justify-content: space-around;
    }
    .serch {
        position: absolute;
        display: flex;
        align-self: flex-start ;
        margin-right: 1130px;
        
    }
    .forserch {
        position: relative; margin-top: 16px; margin-left: 402px;
    }
    .serchform {
        position: absolute; width: 446px; height: 56px;
    }


    .topdesigners {
        display: flex;
        justify-content: space-evenly; flex-direction: column;
        margin-top: 137px; margin-left: 182px; width: 1231px; height: 390px;
             
    }
    .top{
        font-family: "font1.otf"; font-size: 32; color: #222222;
    }
   .follow {
       display: flex; justify-content: space-between;

   }
   .following {
       display: flex; flex-direction: column; height: 365px; margin-top: 54px; justify-content: space-between;
   }
    .button  {
        display: flex; height: 44px; width: 132px;color: #222222; font-family: "font2.oft";font-size: 14; border-radius: 12%; 
        align-items: center; justify-content: center;
    }
        
    
    .lastitems {
        display: flex;
        justify-content: space-evenly;
        margin-top: 129px; margin-left: 182px;
        width: 1093px; height: 398px;
    }
    .footer {
        display: flex; flex-direction: column; justify-content: space-between;
        
    }
    
